.signInWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signInForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid white;
}
